<div class="container">
    <div class="heading">
        <h1>Angular 1</h1>
    </div>
    <div class="wrapper">
        <div>
            <img src="{{ user.avatar_url }}" />
        </div>
        <div>
            <div>
                <h3>@{{ user.login }}</h3>
            </div>
            <div>
                <p>
                    {{ user.name }}
                </p>
            </div>
            <div class="meta">{{ user.company }}</div>
            <div class="meta">{{ user.location }}</div>
        </div>
    </div>
    <hr />
    <form>
        <label>Enter GitHub Username</label>
        <input
            type="text"
            placeholder="username"
            [(ngModel)]="username"
            name="user"
        />
        <button (click)="getPost()">
            Get User
        </button>
    </form>
    <hr />
    <p style="text-align: center;">
        using
        <a href="https://developer.github.com/v3/" target="_blank">
            GitHub API
        </a>
        to fetch data
    </p>
</div>
